@font-face {
  font-family: 'GillSansLight';
  src: url('./assets/fonts/gillSansLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.gill {
  font-family: 'GillSansLight', serif;
}
