extends /_includes/layouts/core

block content
  each byYear, year in _.groupBy(data.characters, 'year')
    .text-7.white=year
    each byFamily, familyName in _.groupBy(byYear, 'lastName')
      //- .text-7.white=`${familyName} Family`
      .flex.flex-wrap
        each character in byFamily
          .flex-none.p-1
            +character(character)

  //- each byFamily, familyName in _.groupBy(data.characters, 'lastName')
  //-   .text-7.white=`${familyName} Family`
  //-   each byFirstName, firstName in _.groupBy(byFamily, 'firstName')
  //-     .flex.flex-wrap
  //-       each character in _.sortBy(byFirstName, ['world', 'year'])
  //-         .flex-none.p-1
  //-           +character(character)
